# Porta do servidor (padrão: 3000)
PORT=3000

# Ambiente (local/production)
NODE_ENV=development

# Configurações do servidor TURN (opcional)
# Se não configurado, usará STUN servers públicos
TURN_URL_1=turn:openrelay.metered.ca:80
TURN_URL_2=turn:openrelay.metered.ca:443
TURN_URL_3=turn:openrelay.metered.ca:80?transport=tcp
TURN_URL_4=turn:openrelay.metered.ca:443?transport=tcp
TURN_USERNAME=openrelayproject
TURN_CREDENTIAL=openrelayproject
